<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreServlet</servlet-name>
        <servlet-class>Servlet.StoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Servlet.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>Servlet.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>Servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>Servlet.RemoveCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>Servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChenkoutServlet</servlet-name>
        <servlet-class>Servlet.ChenkoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreServlet</servlet-name>
        <url-pattern>/Store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/RemoveCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChenkoutServlet</servlet-name>
        <url-pattern>/Chenkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
